
 <form #employeeForm="ngForm" (ngSubmit)="submitForm()"> 
    <div class="form-group">
      <label for="EmployeeName">Employee Name</label>
      <input type="text" name="EmployeeName" [(ngModel)]="Emp.EmployeeName" class="form-control" id="EmployeeName" aria-describedby="EmployeeName" placeholder="Enter Employee Name">      
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Male" [(ngModel)]="Emp.Gender">
      <label class="form-check-label" for="exampleRadios1">
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Female" [(ngModel)]="Emp.Gender">
      <label class="form-check-label" for="exampleRadios2">
       Female
      </label>
    </div>
    <div class="form-check disabled">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
      <label class="form-check-label" for="exampleRadios3">
        Disabled radio
      </label>
    </div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> 


{{employeeForm.value | json}}