 <form> 

  <div class="form-group">
    <label for="EmployeeId">EmployeeId</label>
    <input type="text" name="EmployeeId" [(ngModel)]="Emp.EmployeeId" class="form-control" id="EmployeeId" aria-describedby="EmployeeId" placeholder="Enter EmployeeId">      
  </div>

    <div class="form-group">
      <label for="EmployeeName">Employee Name</label>
      <input type="text" name="EmployeeName" [(ngModel)]="Emp.Name" class="form-control" id="EmployeeName" aria-describedby="EmployeeName" placeholder="Enter Employee Name">      
    </div>

    <button type="button" class="btn btn-primary" (click)="PostData()">Submit</button>


    <!-- <table>
      <tr>
        <th>EmployeeId</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of Emplst">
        <td>{{item.EmployeeId}}</td>
        <td>{{item.Name}}</td>
        <td>
          <button class="btn" (click)="Delete(item.EmployeeId)">
            <i class="fa fa-trash"></i> Delete</button>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm" (click)="Edit(item.EmployeeId)">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
      </td>
      </tr>
    </table>     -->
</form> 

{{Emp | json}}
